{% extends 'main.html' %}

{% load i18n allauth account %}

{% block content %}
<div class="py-16">
    <div class="flex bg-white rounded-lg shadow-lg overflow-hidden mx-auto max-w-sm lg:max-w-4xl">
        <div class="hidden lg:block lg:w-1/2 bg-cover"
             style="background-image:url('https://images.unsplash.com/photo-1546514714-df0ccc50d7bf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=667&q=80')">
        </div>
        <div class="w-full p-8 lg:w-1/2">
            <h2 class="text-2xl font-bold text-black text-center">
                {% trans "Password Reset" %}
            </h2>
            {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
            <p class="text-center text-gray-600 mb-6">
                {% trans "Forgotten your password? Enter your email address below, and we'll send you an email allowing you to reset it." %}
            </p>
            {% url 'account_reset_password' as reset_url %}
            <form method="post" action="{{ reset_url }}">
                {% csrf_token %}
                
                <div class="mb-4">
                    <label for="id_email" class="block text-sm font-medium text-gray-700 mb-2">Email</label>
                    {{ form.email }}
                    {% if form.email.errors %}
                    <p class="text-red-500 text-xs italic">{{ form.email.errors }}</p>
                    {% endif %}
                </div>

                <div class="flex mt-8 justify-center">
                    <button type="submit" class="btn btn-wide bg-black text-white hover:text-black">
                        {% trans 'Reset My Password' %}
                    </button>
                </div>

                <div class="mt-4 flex items-center justify-between">
                    <span class="border-b w-1/5 md:w-1/4"></span>
                    <a href="{% url 'account_login' %}" class="text-xs text-black uppercase">
                        {% trans "or login" %}
                    </a>
                    <span class="border-b w-1/5 md:w-1/4"></span>
                </div>
            </form>
            <p class="text-center mt-6 text-gray-600">
                {% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}
            </p>
        </div>
    </div>
</div>
{% endblock %}
