{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReviewDosen</title>
    {% tailwind_css %}
</head>
<style>
    .star {
      color: gold;
      font-size: 24px;
    }
    .star-gray {
      color: gray;
      font-size: 24px;
    }
  </style>
<body>
    {%if is_landing_page%}
      {%include 'landing_page_navbar.html'%}
    {%else%}
      {% include 'navbar.html' %}
    {%endif%}

    {% block content %}
    
    {% endblock %}
    {%include 'footer.html'%}
</body>
</html>